
/* @font-face {
    font-family: 'El Messiri';
    src: url('../fonts/ElMessiri-Regular.ttf') format('truetype'),
        local('El Messiri'); */

html {
    direction: ;
}

body {
    font-family: 'El Messiri', 'sans-serif';
    height: 1000px;
}

.bgimg {
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(7%);
    background-image: url(../images/coffee-shop-interior-design.jpg);
    height: 100%;
    /* max-width: 100%; */
    margin: 0;
    padding: 0;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    background-color: #444444;
    color: lightgrey;
    padding: 20px 0;
}

footer {
    background-color: #333333;
    color: lightgrey;
    padding: 10px;
    text-align: center;
}
