
{% extends 'menu/base.html' %}          <!--a-->      
{% load static %}
{% load crispy_forms_tags %}

{% block content %}                     

<div class="main_menu text-center">                                         <!--a-->
    <div class="filter">
        <h2 class="pt-1">تسجيل الدخول <i class="fas fa-utensils"></i></h2>

    {% if messages %}                                                       <!--b-->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{form|crispy}}
        <input class="btn btn-secondary mt-3" type="submit" value="تسجيل الدخول">
    </form>
    </div>
</div>

{% endblock content %}


