
{% extends 'menu/base.html' %}          <!--a-->      
{% load static %}
{% load crispy_forms_tags %}


{% block content %}                     

<div class="main_box text-center">                                         <!--a-->
    <div class="filter">
        <h2 class="pt-1">تحديث الملف الشخصي<i class="fas fa-user-edit"></i></h2>

        <form method="POST">
            {% csrf_token %}
    
            {{pu_form|crispy}}
            <input class="btn btn-secondary mt-3" type="submit" value="تحديث">
        </form>

    </div>
</div>

{% endblock content %}


