
{% extends 'menu/base.html' %}          <!--a-->      
{% load static %}

{% block content %}                     

<div class="main_box text-center">                                         <!--a-->
    <div class="filter">
        <h2 class="pt-1">الملف الشخصي<i class="fas fa-address-card"></i></h2>

        {% if messages %}                                                       <!--b-->
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}

        <div>{{user.username}}</div>
        <div>{{user.first_name}} {{user.last_name}}</div>
        <div>{{user.email}}</div>

        <h3>حجوزاتي</h3>
        <div>{{resers.count}}</div>
        {% for reser in resers %}
        <span><a href="{% url 'reser_detail_url' reser.id %}">{{reser.id}}</a></span>
        {% endfor %}

        <div><a href="{% url 'profile_update_url' %}">تحديث</a></div>   <!--b-->

    </div>
</div>

{% endblock content %}


