
{% extends 'menu/base.html' %}    <!--a-->
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}          <!--c-->

{% block content %}               <!--a-->

<div class="main_box text-center">         <!--a-->
    <div class="filter">
        <h2 class="pt-1">حجز جلسة <i class="fas fa-calendar-plus"></i></h2>
        <div class="p-3">
            
                <!-- <div class="form-group col-md">
                
                   -- b <label for="reser_type">اختر نوع الجلسة</label> a
                    <select id="reser_type">
                        <option value="in">جلسة داخلية</option>
                        <option value="out">جلسة خارجية</option>
                        <option value="privet">جلسة خاصة مغلقة</option>
                    </select>
              
                    <label for="num_people">عدد المقاعد</label>
                    <select id="num_people">
                        <option value="2">مقعدين</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                
                    <label for="duration">مدة الجلسة (ساعة)</label>
                    <input type="number" name="duration">

                    <label for="time">التاريخ والوقت</label>
                    <input type="datetime-local" name="time">

                    <label for="phon_num">رقم الجوال</label>
                    <input type="text" name="phon_num">
                
                    <input type="submit" value="موافق"> --
                
                   c <form method="POST" class="f_reser_form">   b--
                    {% csrf_token %}                               

                    {{form|crispy}}

                    <input class="btn btn-secondary mt-3" type="submit" value="موافق">
                    </form>
                
                </div> -->
            
            <form method="POST" class="f_reser_form">   <!--c-->
                    {% csrf_token %} 
                <div class="form-group">                              
                    <div class="row">
                        <div class="col-md-4">
                            <label>{% render_field form.session_type.label_tag %}</label>
                            {% render_field form.session_type class="form-control" %}
                        </div>
                        <div class="col-md-4">
                            <label>{% render_field form.number_of_seats.label_tag %}</label>
                            {% render_field form.number_of_seats class="form-control" %}
                        </div>
                        <div class="col-md-4">
                            <label>{% render_field form.session_duration.label_tag %}</label>
                            {% render_field form.session_duration class="form-control" %}
                            <div><small>{% render_field form.session_duration.help_text %}</small></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>{% render_field form.session_date.label_tag %}</label>
                        {% render_field form.session_date class="form-control dateinput" %}
                        <div><small>{% render_field form.session_date.help_text %}</small></div>
                        <div><small class="invalid">{% render_field form.session_date.errors %}</small></div>
                    </div>
                    <div class="col-md-4">
                        <label>{% render_field form.session_time.label_tag %}</label>
                        {% render_field form.session_time class="form-control" %}
                        <div><small>{% render_field form.session_time.help_text %}</small></div>
                        <div><small class="invalid">{% render_field form.session_time.errors %}</small></div>
                    </div>
                    <div class="col-md-4">
                        <label>{% render_field form.mobile_number.label_tag %}</label>
                            {% render_field form.mobile_number minlength="10" class="form-control" %}
                        <div><small>{% render_field form.mobile_number.help_text %}</small></div>
                        <div><small class="invalid">{% render_field form.mobile_number.errors %}</small></div>
                    </div>
                </div>

                    <!-- <input class="btn submit_btn mt-3" type="submit" value="موافق"> -->
                    <button type="submit" class="submit_btn">موافق <i class="fas fa-calendar-check"></i></button>
            </form>
                
            
            
        </div>
    </div>
</div>

{% endblock %}
