{% extends 'menu/base.html' %}    <!--a-->
{% load static %}

{% block content %}               <!--a-->

<div class="menu_box text-center">  <!--b-->
    <h2>menu</h2>
    <div class="row">
        <div class="col-md">
            <div class="menu_ti">drink</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_ty">cold</div>
        </div>
        <div class="col-md">
            <div class="menu_ty">hot</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_co">pipsi</div>
        </div>
    </div>
</div>


{% endblock content %}