{% extends 'menu/base.html' %}    <!--a-->
{% load static %}

{% block content %}               <!--a-->

<!--   b
<div class="menu_box text-center">  
    <h2>menu</h2>
    <div class="row">
        <div class="col-md">
            <div class="menu_ti">drink</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_ty">cold</div>
        </div>
        <div class="col-md">
            <div class="menu_ty">hot</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_co">pipsi</div>
        </div>
    </div>
</div>
-->


<div class="menu_box text-center">  <!--b-->
    <h2>menu</h2>
    <div class="row">
        <div class="col-md">
            {% for m_title in menu_titles %}
            <h3 class="menu_ti"><a href="{% url 'm_type_url' m_title.id %}">{{m_title.title}}</a></h3>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_co">pipsi</div>
        </div>
    </div>
</div>



{% endblock content %}