{% extends 'menu/base.html' %}    <!--a-->
{% load static %}

{% block content %}               <!--a-->

{% if messages %}                       <!--c-->
{% for message in messages %}
<div class="main_menu text-center">
    <div class="filter">
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<!--   b
<div class="menu_box text-center">  
    <h2>menu</h2>
    <div class="row">
        <div class="col-md">
            <div class="menu_ti">drink</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_ty">cold</div>
        </div>
        <div class="col-md">
            <div class="menu_ty">hot</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="menu_co">pipsi</div>
        </div>
    </div>
</div>
-->

<!-- b deleted -->

<!-- d <div class="main_menu">       !--c--
    <div class="filter">
        <h2>menu</h2>
        <div class="row">
            <div class="col-md">
                {% for m_title in menu_titles %}
                <span class="menu_ti"><a href="{% url 'm_type_url' m_title.id %}">{{m_title.title}}</a></span>
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->



{% endblock content %}