{% extends 'menu/base.html' %}      <!--a-->
{% load static %}                   

{% block content %}                 <!--a-->

<div class="main_menu">         <!--d-->
    <div class="filter">

    {% for me_title in me_titles %}     <!--c-->
    <span><a href="{% url 'm_type_url' me_title.id %}">{{me_title.title}}</a></span>
    {% endfor %}

    <div>{{m_title.title}}</div>
<div class="row">
    <div class="col-md">
    {% for m_type in m_types %}         <!--b-->
    <span>{{m_type.the_type}}</span>
    {% endfor %}
    </div>
</div>

    </div>
</div>


{% endblock %}