{% extends 'menu/base.html' %}      <!--a-->
{% load static %}                   

{% block content %}                 <!--a-->

<div class="main_box text-center">         <!--a-->
    <div class="filter">
        <h2 class="pt-1">القائمة <i class="fas fa-utensils"></i></h2>

        <!-- b {# for content in content_m #}
        <div>{{ content.content }}</div>
        {# endfor #} -->

        {% for title in titles %}                           <!--b-->
        <div class="menu_title"><a href="{% url 'm_type_url' title.id  %}">{{title.title}}</a></div>
        {% endfor %}

        <div class="row">
            <div class="col-md">
            {% for conType in conTypes %}                           <!--c-->
            <div class="menu_type"><a href="{% url 'm_content_url' conType.title_id conType.pk %}">{{conType.the_type}}</a></div>
            {% endfor %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md">
            {% for content in contents.con_of_type.all %}          <!--b  contents.related_name MenuContent -->
            <div class="menu_content">{{ content.content }} <small>{{content.price}} ريال</small></div>
            {% endfor %}
            </div>
        </div>

    </div>
</div>


{% endblock %}