
{% extends 'menu/base.html' %}    <!--a-->
{% load static %}

{% block content %}               <!--a-->

<div class="main_menu">         <!--a-->
    <div class="filter">
        <h2>menu</h2>
        <div class="row">
            <div class="col-md">
                {% for m_title in menu_titles %}
                <span class="menu_ti"><a href="{% url 'm_type_url' m_title.id %}">{{m_title.title}}</a></span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}