
{% extends 'menu/base.html' %}    <!--a-->
{% load static %}

{% block content %}               <!--a-->

<div class="main_box text-center">         <!--a-->
    <div class="filter">
        <h2 class="pt-1">القائمة <i class="fas fa-utensils"></i></h2>
        <div class="row">
            <div class="col-md">
                {% for m_title in menu_titles %}
                <div class="menu_title">
                    <a href="{% url 'm_type_url' m_title.id %}">{{m_title.title}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}